<div
  class="border border-primary w-50 m-auto text-center overflow-hidden mt-2 mb-2"
>
  <h1>Showing pics</h1>
  <hr />
  <button type="button" id="prev" class="btn btn-dark" (click)="prev()">
    Previous
  </button>
  <button type="button" id="slide" class="btn btn-primary" (click)="slide()">
    SlideShow
  </button>
  <button type="button" id="stop" class="btn btn-danger" (click)="stop()">
    Stop
  </button>
  <button type="button" id="next" class="btn btn-dark" (click)="next()">
    Next
  </button>
  <img [src]="src" id="image" class="mt-2 mb-2" />
</div>
