* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
polygon {
  fill: rgb(255, 255, 0);
}
math {
  font-size: 2.5rem;
}
