@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
.parent {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid black;
  width: 80%;
  margin: 0 auto;
  height: 90vh;
  margin-top: 1rem;
  background-color: gray;
}
.child {
  border: 3px solid black;
  flex-basis: 15%;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: bisque;
}
